<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= categoryLabel %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= categoryLabel %></h1>
    <% console.log('results', filteredMenu) %>
    <% filteredMenu.forEach((el) => { %>
        <h1><%= el.rating === 5 ? el.name + ' ⭐️': el.name %></h1>
        <p>Price: <%= el.price %></p>
        <p>Rating: <%= el.rating %></p>
        <p>Details: <%= el.details %></p>
        
    <% }) %>
</body>
</html>