<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- link nav partial -->
    <%- include('./partials/nav') %>
    

    <h1>Full menu</h1>
    
    <!-- declare global variables -->
    <% let mains = []
    let dessertes = [] 
    %>
    <!-- filter local object main property and push it to mains array  -->
    <%let sides = []%>
    <% menu.forEach((el, idx) => { %>
        <%if (el.category === 'mains') {%>
            <% mains.push(el)%>
        <%}%>

    <% })%>    
    
     
<h2>Mains</h2>  
    <!-- declare main section  -->
    <!-- iterate over mains array and write to html name, price, raiting, details properties. -->
    <% mains.map((el) => { %>
        <h5><%= el.name%> </h5>
        <p>Price :$<%= el.price %> </p>
        <p>Rating :<%= el.rating %> </p>
        <p>Details :<%= el.details %> </p>
    <% }) %>
    


</body>
</html>