<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- link nav partial -->
    <%- include('./partials/nav') %>
    

    <h1>Full menu</h1>
    
    <!-- declare global variables -->
    <% let mainArr = []
    let dessertsArr = [] 
    let sidesArr = []
    %>
    <!-- filter local object properties and push them to categories array like mainArr, dessertsArr, sidesArr -->
    <%let sides = []%>
    
    <% menu.forEach((el, idx) => { %>
        <%if (el.category === 'mains') {%>
            <% mainArr.push(el)%>
        <%}else if (el.category === 'desserts') {%>
            <%dessertsArr.push(el)%>
        <% }else if (el.category === 'sides'){ %>
            <% sidesArr.push(el) %>
        <% } %>

    <% }) %>    
    
     
<h2>Mains</h2>  
    <!-- declare main section  -->
    <!-- iterate over mainArr array and write to html name, price, raiting, details properties. -->
    <% mainArr.map((el) => { %>
        <h5><%= el.name%> </h5>
        <p>Price :$<%= el.price %> </p>
        <p>Rating :<%= el.rating %> </p>
        <p>Details :<%= el.details %> </p>
    <% }) %>
    
    <h2>Desserts</h2>  
    <!-- declare desserts section  -->
    <!-- iterate over mainArr array and write to html name, price, raiting, details properties. -->
    <% dessertsArr.map((el) => { %>
        <h5><%= el.name%> </h5>
        <p>Price :$<%= el.price %> </p>
        <p>Rating :<%= el.rating %> </p>
        <p>Details :<%= el.details %> </p>
    <% }) %>

    <h2>Sides</h2>

    <%sidesArr.map((el) => { %>
        <h5><%= el.mane %></h5>
        <p>Price: $<%= el.price %></p>
        <p>Rating: <%= el.rating %></p>
        <p>Details: <%= el.details %></p>
        
    <% }) %>

</body>
</html>